.component-details-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  /* background-image: url('/gorsel/detay.webp'); /* Arka plan resmi */
  /*background-size: cover; /* Resmi tam olarak kapsatır */
  /*background-position: center; /* Resmin ortalanmasını sağlar */
 /* background-repeat: no-repeat; /*Resmin tekrar etmemesini sağlar */
  opacity: 0;
  opacity: 0;
  transform: translateY(20px); /* Hafif aşağıda başlar */
  animation: fadeInUp 1s ease forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.component-details-container img {
  width: 200px;
  height: 200px;
  margin: 20px 0;
  border-radius: 50%; /* Görselleri daire yapar */
  object-fit: flex; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş animasyonu */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.component-details-container img:hover {
  transform: scale(1.5); /* Üzerine gelince büyütme efekti */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Gölge büyür */
  transition: transform 0.9s ease;
  transform: scale(1.5) rotate(10deg); /* Hafif döndürme efekti */
  
}


.component-details-container h1 {
  color: #107be5;
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase; /* Başlıkları büyük harf yapar */
  letter-spacing: 2px; /* Harfler arasında boşluk */
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.447);
}

.component-details-container p {
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 15px;
  padding: 0 20px;
}

.component-details-container p strong {
  color: #3261e1; /* Öne çıkan metin için vurgu rengi */
}

.component-details-container {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #ffffff; /* Beyaz arkaplan */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Kutu gölgesi */
  padding: 30px;
}
.component-details-container p {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
