.home-container {
  min-height: 100vh; /* Tam ekran yüksekliği */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../gorsel/home.webp'); /* Arka plan resmini ekliyoruz */
  background-size: cover; /* Resmin sayfayı kaplamasını sağlıyoruz */
  background-position: center; /* Resmi ortalıyoruz */
  background-repeat: no-repeat; /* Resmin tekrarlamasını engelliyoruz */
  color: rgb(0, 0, 0); /* Yazı rengini arka plana uygun hale getiriyoruz */
  text-align: center; /* Yazıları ortalıyoruz */
}

.home-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-header p {
  font-size: 1.2rem;
}
.team-section{
 
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  font-size: 15px;


}

 .goal-section {
 

  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
}
