.presentation-container {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f9fbfd;
  color: #2c3e50;
  background-image: url('../gorsel/arac.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presentation-header {
  text-align: center;
  background-color: rgba(234, 242, 248, 0.727); /* Opak mavi arka plan */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.presentation-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(50, 97, 225);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Yazıya gölge */
}

.presentation-header p {
  font-size: 1.2rem;
  color: #555;
}

.download-section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff7b;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.download-section h2 {
  color: #3498db;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1rem;
  margin-bottom: 10px;
}

ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

ul li a:hover {
  color: #e74c3c;
  text-decoration: underline;
}
